#capçalera{
    background-color: #3D3D3D;
    width: 100%;
    height:15px;

}
#capçalera text{
    color: #BFBFBF;
    position: absolute;
    right: 205px;

}
#capçalera2{
        background-color: #303030;
        width: 100%;
        height: 80px;
        color: white;
}
#login{
    position:absolute;
    top: 35px;
    right: 11px;
}
#capçalera2 img {
    position: absolute;
    left: 259px;
    height: 75px;
    width: 75;

}
#capçalera2 text{
    position: absolute;
    right: 600px;
    top:60px;
    
}
a:visited {
    color: white;
    
}
a:hover{
    color: rgb(179, 28, 28);
}
#colleft{
    background-color: #686868;
    float: left;
    color: white;
    width: 200px;
    height: 1300px;
    padding-left:8px;

}
#main h1{
    position: absolute;
    top: 200px;
    left: 480px;
}
#main p{
    border: #303030 solid;
    width: 380px;
    position: absolute;
    left: 350px;
    top: 250px;
    padding:0.5%;
}
#main img{
    width: 450px;
    height: 350px;
    position: absolute;
    right: 200px;
    top: 150px;
}
#main hr{
    background-color: lightslategray;
    position: absolute;
    width: 750px;
    height: 1px;
    top: 540px;
    left: 500px;
}
#article{
    position: absolute;
    top: 590px;
    left: 450px;

}
#article p{
    position: absolute;
    top: 45px;
}
#article img{
    width: 350x;
    height: 200px;
    position: absolute;
    right: -650px;
}
#article hr{
    background-color: lightslategray;
    position: absolute;
    width: 750px;
    height: 1px;
    top: 340px;
    left: 50px;
}
#section{
    position: absolute;
    top: 978px;
    left: 400px;
}
#section p{
    border: #303030 solid;
    padding: 1%;
    width: 320px;
}
#section img{
    width:450px;
    height: 350px;
    position: absolute;
    top: 10px;
    left:450px;
}